/** @format */

.MessageDone {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.MessageDoneButton {
  padding: 10px;
  background-color: #4154f1;
  text-decoration: none;
}

.MessageDoneButton a {
  color: #fff;
  text-decoration: none;
}

.MessageDoneButton a:hover {
  color: #fff;
}
