/** @format */

.home {
    background: url("https://i.postimg.cc/hjgSR3Db/bag.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    min-height: 100vh;
}

.homeTitle {
    color: #fff;
    margin-top: 15%;
    font-size: 60px;
    font-weight: 700;
}

.homeTitleP {
    color: #fff;
}

.homeButton div:nth-child(1) {
    color: #000;
    background-color: #fff;
    display: inline;
    margin-right: 5px;
    padding: 10px;
    border-radius: 5px;
}
.homeButton div:nth-child(2) {
    color: #000;
    background-color: #fff;
    display: inline;
    margin-left: 5px;
    padding: 10px;
    border-radius: 5px;
}
